h1 {
    color: blue;
}

.card {
    height: 200px;
    width: 200px;
    background-color: brown;
    margin: 5px;
    font-size: 21px;
    padding: 10px;
    border-radius: 19px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    ;
}

.contener {
    border: 2px solid blue;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 19px;
}

.pen {
    background-image: url("https://galagraffity.ru/image/cache/catalog/YMLf18ab3f7e2af27bacc4402df8e54aab4/ruchki/IMG435e72175d3fbca941f4a60dc3dabc5b-767x767.jpg");
    background-size: cover;
}

.ruler {
    background-image: url("https://cdn3.static1-sima-land.com/items/3002904/1/280.jpg?v=1526284585");
    background-size: cover;
}

.pencil {
    background-image: url("https://illan-gifts.ru/api/images/karandash-cay-394766.jpeg");
    background-size: cover;
}

.eraser {
    background-image: url("https://artmarker.ru/upload/iblock/7a4/7a4aea5d2322e81fcb91dd5e2d0a968e.jpeg");
    background-size: cover;
}

.putty {
    background-image: url("https://www.shkolnick.ru/image/cache/catalog/i/fj/go/72500c37f136f363d48f1d3bc37e4eed-450x450.jpg");
    background-size: cover;
}

#side-checkbox {
    display: none;
}
.side-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: -360px;
    background: #337AB7;
    transition: all 0.5s;
    width: 320px;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #FFF;
    padding: 40px 20px;
}
.side-title {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #BFE2FF;
}
/* Оформление кнопки на странице */
.side-button-1-wr {
    text-align: center; /* Контейнер для кнопки, чтобы было удобнее ее разместить */
}
.side-button-1 {
    display: inline-block;
}
.side-button-1 .side-b {
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', Тahoma, sans-serif;
    background: #337AB7;
    cursor: pointer;
    border: 2px solid #BFE2FF;
}
.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
    color: #FFF;
}
.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
    position: absolute;
    height: 4px;
    left: 50%;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}

.side-button-1 .side-b:before {
    top: -6px;
}
.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
    width: 100%;
    left: 0;
}
/* Переключатели кнопки 1 */
.side-button-1 .side-close {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
    display: block;
}
#side-checkbox:checked + .side-panel {
    left: 0;
}
/* Оформление кнопки на панеле */
.side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #BFE2FF;
    transition: all 280ms ease-in-out;
}
.side-button-2:hover {
    transform: rotate(45deg) scale(1.1);
    color: #FFF;
}
